/* GENERAL */

/* Colors
#ccc,
#555,
#333,
#777,
#fff,
#ddd
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 150rem;
  margin: 1rem 3rem;
}

/* HEADER */

.head {
  display: flex;
  align-items: center;
  gap: 20rem;
  padding-bottom: 1rem;
  border-bottom: 1px #ccc solid;
}

.logo {
  height: 6rem;
}

.search-cont {
  padding: 1.5rem;
  border: 1px #ccc solid;
  height: 4rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}

.search {
  outline: none;
  border: none;
  width: 25rem;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.upgrade {
  background-color: #777;
  color: #fff;
  padding: 1rem 1.3rem;
  border-radius: 5px;
}

.notification-icon {
  font-size: 3rem;
}

.user {
  border-radius: 50%;
  height: 5rem;
}

/* MAIN */

main {
  margin-top: 3rem;

  font-family: sans-serif;
  color: #777;

  display: flex;
  gap: 5rem;
}

.book-heading {
  color: #333;
  padding-bottom: 2rem;
  border-bottom: 1px #ccc solid;

  font-size: 4rem;
}

.filters {
  margin: 1rem 0;
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px #ddd solid;
}

.filter-option {
  display: flex;
  gap: 0.1rem;

  cursor: pointer;
}

.filter-option p {
  text-transform: uppercase;
}

.time-filter-option {
  margin-left: auto;
}

.featured-books {
  display: flex;
  gap: 3rem;
}

.featured-book-cont {
  height: 35rem;
  overflow: hidden;
}

.featured-book-image {
  width: 39vw;
  height: 30rem;
}

.featured-book-cover {
  height: 8rem;
  z-index: 100;
  position: relative;
  bottom: 11rem;
  left: 5rem;
}

.featured-book-title {
  color: #fff;
  font-size: 2.7rem;

  position: relative;
  bottom: 18rem;
  left: 11rem;
}

.featured-book-author {
  color: #fff;
  font-size: 1.3rem;

  position: relative;
  bottom: 17.5rem;
  left: 11rem;
}

.general-books-row {
  display: flex;
  gap: 2rem;
}

.general-book-cont {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.general-book-cover {
  height: 20rem;
  width: 13rem;
  margin-bottom: 0.5rem;
}

.general-book-title {
  color: #333;
  font-size: 1.3rem;
}

/* SIDEBAR */

.book-categories {
  font-family: serif;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.book-categories li {
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.book-categories li:hover {
  background-color: #d0ebff;
}

.active-link {
  background-color: #a5d8ff;
}

.active-link:hover {
  background-color: #a5d8ff !important;
}

.nav-heading {
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 0.5rem;

  font-size: 1.3rem;
  letter-spacing: 0.3px;

  padding: 0.3rem 1rem;
}

.book-circles {
  list-style-type: none;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.book-circles li {
  padding: 0.3rem 1rem;
  cursor: pointer;
}

/* RECOMMENDATIONS */

.r-books {
  display: none;
}
